@charset "UTF-8";
html, body{
	height: 100%;
	background-color: #f7f7f7;
}

span{
	float: right;
	margin-right: 25px;
}
h1{
	margin-top:25px;
	text-align:center;
}
.form-container{
	margin-top: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}

button{
	margin-right: 80px;
}

input{
	height: 34px;
	font-size: 15px;
	margin-right: 10px;
}

.table-div{
	display:flex;
	justify-content: center;
}

table{
	margin-top: 30px;
}

th, td{
	text-align: center;
}

th{
	font-size: 18px;
	padding: 10px 25px;
}

td{
	font-size: 16px;
	padding: 7px 15px;
}